<!-- <thf-page-default>
  <thf-widget
    *ngFor="let arr of arrCards"
  class="thf-lg-6 thf-md-6 thf-sm-12" t-primary-label="Excluir" t-secondary-label="Ativar">

    <img src="https://http2.mlstatic.com/bolsa-moda-feminina-branca-rosa-gato-miau-delicada-tumblr-D_NQ_NP_820261-MLB26563791190_122017-F.jpg" class="image-card">

    <div class="container-column">
        <div class="thf-font-text-bold">Nome do Leilão</div>
      <div class="thf-row container-between">
        <div class="thf-font-text">Lance fixo : 20 reais</div>
        <div class="thf-font-text-bold">R$ 120,00</div>
    </div>
  </div>

  </thf-widget>

</thf-page-default> -->

<thf-page-default [t-title]="literals?.myAuctions">

  <app-sketch></app-sketch>

  <app-my-auctions></app-my-auctions>

  <app-finished-auctions></app-finished-auctions>

</thf-page-default>
