<div class="container-card">
  <thf-widget
  class="thf-lg-3 thf-md-4 thf-sm-12 thf-mb-lg-1 thf-mb-md-1 thf-mb-sm-1" t-primary-label="Excluir"
    t-secondary-label="Ativar">

    <img
      src="{{ photo }}" class="image-card">

    <div class="container-column">
      <div class="thf-font-text-bold">{{ name }}</div>
      <div class="thf-row container-between">
        <div class="thf-font-text">{{ formatBid(bid_type) }} : 20 reais</div>
        <div class="thf-font-text-bold">{{ base_price }}</div>
      </div>
    </div>
  </thf-widget>
</div>
