<thf-page-default>

  <div class="thf-font-subtitle">Meus Lances </div>
  <hr>

  <div class="thf-row">
    <thf-widget
      class="thf-md-6 thf-lg-3 thf-mb-2">
      <div class="thf-font-title thf-text-center">47</div>
      <div class="thf-text-center sample-widget-text-subtitle">Leiloes Participados</div>
    </thf-widget>

    <thf-widget
      class="thf-md-6 thf-lg-3 thf-mb-2">
      <div class="thf-font-title thf-text-center">94</div>
      <div class="thf-text-center sample-widget-text-subtitle">Lances Realizados</div>
    </thf-widget>

    <thf-widget
      class="thf-md-6 thf-lg-3 thf-mb-2">
    <div class="thf-font-title thf-text-center">8</div>
    <div class="thf-text-center sample-widget-text-subtitle">Leiloes Vencidos</div>
  </thf-widget>

    <thf-widget
      class="thf-md-6 thf-lg-3 thf-mb-2">
      <div class="thf-font-title thf-text-center">R$ 9.231</div>
      <div class="thf-text-center sample-widget-text-subtitle">Reais em lances</div>
    </thf-widget>

    <thf-widget
      class="thf-md-6 thf-lg-3 thf-mb-2">
      <div class="thf-font-title thf-text-center">R$ 29</div>
      <div class="thf-text-center sample-widget-text-subtitle">Reais em prejuizo</div>
    </thf-widget>
  </div>

  <hr>
  <div class="thf-font-subtitle">Leiloes Abertos</div>

</thf-page-default>
