<thf-page-default
  [t-actions]="isPageEdit ? editUserActions : newUserActions"
  [t-breadcrumb]="isPageEdit ? editUserBreadcrumb : newUserBreadcrumb"
  [t-title]="isPageEdit ? literals?.editLeilao : literals?.addNewLeilao">

  <div class="thf-row">
    <div class="thf-lg-6 thf-offset-lg-3 thf-xl-6 thf-offset-xl-3">
      <form #formLeilao="ngForm">
        <div class="thf-row">
          <thf-input
            class="thf-md-12"
            name="name"
            [(ngModel)]="leilao.name"
            t-clean
            [t-label]="literals?.name"
            t-minlength="3"
            t-placeholder="Insira o Nome do Produto"
            t-required>
          </thf-input>
        </div>

        <div class="thf-row">
          <thf-upload
            class="thf-md-12"
            name="photo_url"
            [(ngModel)]="leilao.photo_url"
            t-help="Maximum file size limit: 300kb"
            t-label="Resume"
            t-required
            t-restrictions="{maxSize: 300}"
            t-url="https://thf.totvs.com.br/sample/api/uploads/addFile"
            (t-error)="resumeUploadError()"
            (t-success)="resumeUploadSuccess()">
          </thf-upload>
        </div>


        <div class="thf-row">
          <thf-input
            class="thf-md-6"
            name="base_price"
            [(ngModel)]="leilao.base_price"
            t-clean
            [t-label]="literals?.base_price"
            t-placeholder="Insira o Preco Base (ex: 123,00)"
            t-pattern="^([0-9]{3}),([0-9]{2})"
            t-required>
          </thf-input>
          <thf-select
            class="thf-md-6"
            name="bid_type"
            [(ngModel)]="leilao.bid_type"
            [t-label]="literals?.bid_type"
            [t-options]="bidtypeOptions"
            t-required>
          </thf-select>
        </div>

        <div class="thf-row">
        <thf-select
            class="thf-md-6"
            name="bid_step"
            [(ngModel)]="leilao.bid_step"
            [t-label]="literals?.bid_step"
            [t-options]="bidstepOptions">
          </thf-select>
          <thf-select
            class="thf-md-6"
            name="status"
            [(ngModel)]="leilao.status"
            [t-label]="literals?.status"
            [t-options]="statusOptions"
            t-required>
          </thf-select>
        </div>
        <div class="thf-row">
          <thf-input
            class="thf-md-12"
            name="owner"
            [(ngModel)]="leilao.owner"
            t-clean
            [t-label]="literals?.owner"
            t-minlength="3"
            t-placeholder="Insira o Proprietario"
            t-required>
          </thf-input>
        </div>

        <div class="thf-row">
          <thf-datepicker
            class="thf-md-6"
            name="expirationDate"
            [(ngModel)]="leilao.expirationDate"
            t-format="dd/mm/yyyy"
            [t-label]="literals?.expirationDate"
            t-required>
          </thf-datepicker>
        </div>
      </form>
    </div>
    </div>
    </thf-page-default>

    <thf-modal #modalDeleteLeilao
      t-close
      t-size="sm"
      [t-title]="literals?.modalDeleteTitle"
      [t-primary-action]="confirmDeleteAction"
      [t-secondary-action]="returnAction">

      <div class="thf-font-text-large thf-text-left">{{ literals?.modalDeleteMessage | thfI18n:[leilao.name] }}</div>
    </thf-modal>

    <thf-modal #modalCancelEditLeilao
      t-close
      t-size="sm"
      [t-title]="literals?.modalCancelEditUserTitle"
      [t-primary-action]="confirmReturnToListAction"
      [t-secondary-action]="returnAction">

      <div class="thf-font-text-large thf-text-left">{{ literals?.modalCancelEditUserMessage | thfI18n:[leilao.name] }}</div>
    </thf-modal>
